<%- include("partials/header") %>

  <div class="book-form">
    <h2>Add a New Book</h2>
    <form method="POST" action="/add">
      <label>Title</label>
      <input name="title" required placeholder="Romeo and Juliet" />

      <label>Author</label>
      <input name="author" placeholder="William Shakespeare" />

      <label>Rating (1–5)</label>
      <input type="number" name="rating" min="1" max="5" placeholder="5" />

      <label>Notes</label>
      <textarea name="notes" placeholder="Enter your notes here"></textarea>

      <label>Date Read</label>
      <input name="date_read" placeholder="20/12/2025" />

      <label>Cover URL</label>
      <input name="coverUrl" placeholder="Enter cover image URL" />

      <button>Add Book</button>
    </form>
  </div>

  <%- include("partials/footer") %>